<ion-content class="ion-content-custom">

  <img class="bg-slash show-light" src="../../../assets/images/mbackground.png">
  <img class="bg-slash show-dark" src="../../../assets/images/mbackground_dark.png">

  <div class="custom-modal-wrapper">
    <h1 class="ion-no-margin font-semibold">Clock Station Information</h1>
    <ion-row>
      <ion-col style="width: 190px; max-width: 190px;" class="ion-no-padding ion-padding-end">
        <p style="line-height: 1.5em;">
          Site name:<br />
          Clock location:<br />
          Setup by:<br />
          Clock method:
        </p>
      </ion-col>
      <ion-col class="ion-no-padding">
        <p style="line-height: 1.5em;">
          {{this.dbHelper.clockConfig.SiteName}}<br />
          {{this.dbHelper.clockConfig.LocationName}}<br />
          {{this.dbHelper.clockConfig.SetupBy}}<br />
          {{clockMethod}}
        </p>
      </ion-col>
    </ion-row>

    <h2 class="ion-no-margin font-semibold" style="font-size: 22px;">Station status:</h2>
    <ion-row>
      <ion-col style="width: 190px; max-width: 190px;" class="ion-no-padding ion-padding-end">
        <p style="line-height: 1.5em;">
          Currently:<br />
          Clock times waiting to be sent:<br />
          Storage available: <br />
          App version: 
        </p>
      </ion-col>
      <ion-col class="ion-no-padding">
        <p style="line-height: 1.5em;">
          {{this.dbHelper.isOnline.value ? 'Online' : 'Offline'}}<br />
          {{this.dbHelper.pendingLogs.length}}<br /><br />
          {{spaceAvailable}} <br />
          {{version}}
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="button-container">
      <ion-col class="ion-no-padding">
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="danger" fill="outline" class="ion-no-margin ui-button" (click)="close()">
          Close
          <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>