<ion-content class="ion-content-custom">

  <img class="bg-slash show-light" src="../../../assets/images/mbackground.png">
  <img class="bg-slash show-dark" src="../../../assets/images/mbackground_dark.png">

  <div class="custom-modal-wrapper">
    <ion-icon style="position: absolute; top: 40; right: 40px; font-size: 30px;" name="close-outline" (click)="close()"></ion-icon>
    <h1 class="ion-no-margin font-semibold">Wageloch assistance</h1>
    <br />
    <br />
    <div *ngIf="state === 'open'">
      <ion-button color="magenta" class="ion-no-margin ui-button" href="https://help.wageloch.com.au/">
        Remote assistance
      </ion-button>
      <br />
      <br />
    </div>
    <ion-button color="magenta" class="ion-no-margin ui-button" href="mailto:helpdesk@wageloch.com.au">
      Email support
    </ion-button>
    <br />
    <br />
    <p style="line-height: 1.5em;">
      Wageloch helpdesk is currently {{state}}<br /><br />
      <ion-text [innerHTML]="ccct"></ion-text>
    </p>

    <ion-text *ngIf="opStr" class="font-semibold">
      <p>{{opStr}}</p>
    </ion-text>

    <p *ngIf="!opStr" style="line-height: 1.5em;">Please email support or alternatively you may call the number below and leave a voice mail and we will respond within the next business day.</p>

    <ion-row>
      <ion-col size="3" class="ion-no-padding">
        <p>Email</p>
        <p>{{city}}</p>
        <p *ngIf="city2">{{city2}}</p>
      </ion-col>
      <ion-col class="ion-no-padding">
        <p><a href="mailto:helpdesk@wageloch.com.au">helpdesk@wageloch.com.au</a></p>
        <p><a [href]="'tel:'+phoneTel">{{phone}}</a></p>
        <p *ngIf="city2"><a [href]="'tel:'+phoneTel2">{{phone2}}</a></p>
      </ion-col>
    </ion-row>

    <p>Closed on national public holidays</p>

    <ion-row class="button-container">
      <ion-col class="ion-no-padding">
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="danger" fill="outline" class="ion-no-margin ui-button" (click)="close()">
          Close
          <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>