<ion-content class="ion-content-custom">

  <img class="bg-slash show-light" src="../../../assets/images/mbackground.png">
  <img class="bg-slash show-dark" src="../../../assets/images/mbackground_dark.png">

  <div class="custom-modal-wrapper wide">
    <h1 class="ion-no-margin font-semibold">Clock times</h1>
    <ion-row class="ion-align-items-end">
      <ion-col class="ion-no-padding">
        <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down date-picker">
          <ion-label position="stacked" class="font-medium">Date</ion-label>
          <div class="date-picker-container">
            <ion-datetime class="drop-down-box" displayFormat="DD/MM/YYYY" [max]="maxDate" [(ngModel)]="selectedDate" (ionChange)="loadClockTimes()" placeholder="Select date"></ion-datetime>
            <ion-icon name="calendar" color="verydark" slot="end"></ion-icon>
          </div>
        </ion-item>
      </ion-col>
      <ion-col class="ion-no-padding ion-margin-end" size="auto">
        <ion-button color="magenta" fill="outline" class="ion-no-margin ui-button" (click)="previousDay()">
          <ion-icon name="chevron-back" slot="start"></ion-icon>
          Previous day
        </ion-button>
      </ion-col>
      <ion-col *ngIf="showNextDay" class="ion-no-padding ion-margin-end" size="auto">
        <ion-button color="magenta" fill="outline" class="ion-no-margin ui-button" (click)="nextDay()">
          Next day
          <ion-icon name="chevron-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="magenta" fill="outline" class="ion-no-margin ui-button" (click)="today()">
          Today
        </ion-button>
      </ion-col>
    </ion-row>

    <div [ngClass]="{'wide-list': numberOfColumns.length > 10, 'wide-list-15': numberOfColumns.length > 15, 'wide-list-20': numberOfColumns.length > 20}">

      <ion-row class="clock-times-header">
        <ion-col class="ion-no-padding" style="position: sticky; z-index: 5; left: 0px;" [size]="numberOfColumns.length > 10 ? 1 : 2">Name</ion-col>
        <ion-col class="ion-no-padding" *ngFor="let i of numberOfColumns">{{i % 2 === 0 ? 'On' : 'Off'}}</ion-col>
      </ion-row>

      <div class="clock-times-row-container-scroll">
        <div class="clock-times-row-container">
          <ion-row class="clock-times-row" *ngFor="let staff of items; let i = index;" (click)="selectStaff(i)">
            <ion-col class="ion-no-padding" [ngClass]="{'selected': selectedIndex === i}" style="position: sticky; z-index: 5; left: 0px;" [size]="numberOfColumns.length > 10 ? 1 : 2">
              {{staff.StaffName}}</ion-col>
            <ion-col class="ion-no-padding time-col" *ngFor="let i of numberOfColumns"
              [ngClass]="{'bg-green': getEntries(staff)[i] && getEntries(staff)[i].IsClockIn, 'bg-red': getEntries(staff)[i] && !getEntries(staff)[i].IsClockIn, 'bg-blue': getEntries(staff)[i] && getEntries(staff)[i].IsAdded}">
              {{getEntries(staff)[i] ? ((getEntries(staff)[i].IsMobile ? '*' : '') + getEntries(staff)[i].ClockTimeDisp) : ''}}
            </ion-col>
          </ion-row>
        </div>
      </div>

    </div>

    <ion-row class="button-container">
      <ion-col class="ion-no-padding" size="auto">
        <ion-button [disabled]="selectedIndex === -1" (click)="delete()" color="danger" fill="outline" class="ion-no-margin ui-button">
          Delete
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-button color="magenta" class="ion-no-margin ui-button ion-margin-start" (click)="edit()">
          Edit/Create
          <ion-icon name="create" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="magenta" class="ion-no-margin ui-button" (click)="done()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="editing && !showDeptRolePrompt && !showNotesPrompt && !showTimePrompt" class="custom-modal-background" (click)="clearSelectedStaff()">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 class="ion-no-margin font-semibold">Edit clock times</h1>
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down" style="max-width: 300px;" (click)="presentStaffPicker()">
        <ion-label position="stacked" class="font-medium">Site</ion-label>
        <div class="drop-down-box">{{selectedStaff ? selectedStaff.StaffName : 'Select staff'}}<ion-icon name="chevron-down" slot="end"></ion-icon>
        </div>
      </ion-item>

      <ion-row class="clock-times-header">
        <ion-col class="ion-no-padding" size="2">Time</ion-col>
        <ion-col class="ion-no-padding" size="3">Location</ion-col>
        <ion-col class="ion-no-padding">Selected dept</ion-col>
        <ion-col class="ion-no-padding">Selected role</ion-col>
      </ion-row>

      <div *ngIf="selectedStaff" style="max-height: 50vh; overflow: auto;">
        <ion-row class="clock-times-row" *ngFor="let entry of selectedStaff.ClockEntry; let i = index;" [ngClass]="{'selected': editSelectedIndex === i}"
          (click)="editSelectedIndex === i ? editSelectedIndex = -1 : editSelectedIndex = i">
          <ion-col class="ion-no-padding time-col" size="2" [ngClass]="{'bg-green': entry.IsClockIn, 'bg-red': !entry.IsClockIn, 'bg-blue': entry.IsAdded}">{{entry.ClockTimeDisp}}</ion-col>
          <ion-col class="ion-no-padding" size="3"></ion-col>
          <ion-col class="ion-no-padding">{{entry.Department}}</ion-col>
          <ion-col class="ion-no-padding">{{entry.Role}}</ion-col>
        </ion-row>
      </div>

      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding" size="auto">
          <ion-button [disabled]="editSelectedIndex === -1" (click)="editing_delete()" color="danger" fill="outline" class="ion-no-margin ui-button">
            Delete
            <ion-icon name="trash" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button [disabled]="editSelectedIndex === -1" (click)="editing_edit()" color="magenta" class="ion-no-margin ui-button ion-margin-start">
            Edit
            <ion-icon name="pencil-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button [disabled]="!selectedStaff" (click)="editing_create()" color="magenta" class="ion-no-margin ui-button ion-margin-start">
            Create
            <ion-icon name="add" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="magenta" class="ion-no-margin ui-button" (click)="clearSelectedStaff()">
            Done
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="showDeptRolePrompt && !showNotesPrompt && !showTimePrompt" class="custom-modal-background" (click)="clearSelectedStaff()">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 *ngIf="this.dbHelper.clockConfig.UseDeptForClock && this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-margin font-semibold">Dept and Role Selection</h1>
      <h1 *ngIf="this.dbHelper.clockConfig.UseDeptForClock && !this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-margin font-semibold">Department Selection</h1>
      <h1 *ngIf="!this.dbHelper.clockConfig.UseDeptForClock && this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-margin font-semibold">Role Selection</h1>
      <p>Select the Department/Role you're working in</p>
      <ion-row class="ion-margin-bottom">
        <ion-col *ngIf="this.dbHelper.clockConfig.ShowEmpSearch && this.dbHelper.clockConfig.UseDeptForClock" class="ion-no-padding ion-margin-end">
          <ion-item lines="none" class="ion-no-margin ion-no-padding input-item input-standalone search-bar">
            <ion-input [(ngModel)]="deptSearchTerm" clearInput class="input-field" placeholder="Search department" maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="this.dbHelper.clockConfig.ShowEmpSearch && this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-padding ion-margin-start">
          <ion-item lines="none" class="ion-no-margin ion-no-padding input-item input-standalone search-bar">
            <ion-input [(ngModel)]="roleSearchTerm" clearInput class="input-field" placeholder="Search role" maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="this.dbHelper.clockConfig.UseDeptForClock" class="ion-no-padding ion-margin-end">
          <div class="list-header-container">Department</div>
        </ion-col>
        <ion-col *ngIf="this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-padding ion-margin-start">
          <div class="list-header-container">Role</div>
        </ion-col>
      </ion-row>
      <ion-row class="department-role-picker-row">
        <ion-col *ngIf="this.dbHelper.clockConfig.UseDeptForClock" class="ion-no-padding ion-margin-end department-role-picker-col">
          <div class="list-container" [ngClass]="{'selected': dept === selectedDeptForClock}" (click)="selectedDeptForClock = selectedDeptForClock === dept ? '' : dept;"
            *ngFor="let dept of departments()">{{dept}}</div>
        </ion-col>
        <ion-col *ngIf="this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-padding ion-margin-start department-role-picker-col">
          <div class="list-container" [ngClass]="{'selected': role === selectedRoleForClock}" (click)="selectedRoleForClock = selectedRoleForClock === role ? '' : role;" *ngFor="let role of roles()">
            {{role}}</div>
        </ion-col>
      </ion-row>
      <div *ngIf="error" class="form-error font-semibold">
        <ion-text color="danger">{{error}}</ion-text>
      </div>
      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding">
          <!-- <ion-button *ngIf="this.dbHelper.clockConfig.ShowNotesButtonOnRoleScreen" (click)="this.dbHelper.clockConfig.PromptForNote ? showNotesPrompt = true : sendNote()" [disabled]="noteSent"
            color="magenta" fill="outline" class="ion-no-margin ui-button">
            {{this.dbHelper.clockConfig.NotesButtonText}}
          </ion-button> -->
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="showDeptRolePrompt = false;">
            Cancel
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="magenta" class="ion-no-margin ui-button" (click)="deptRolePicked()">
            Done
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="showNotesPrompt" class="custom-modal-background" (click)="clearSelectedStaff()">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 class="ion-no-margin font-semibold">Note</h1>
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
        <ion-textarea [(ngModel)]="note" class="input-field" rows="6"></ion-textarea>
      </ion-item>
      <div *ngIf="error" class="form-error font-semibold">
        <ion-text color="danger">{{error}}</ion-text>
      </div>
      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding">
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="showNotesPrompt = false;">
            Cancel
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="magenta" class="ion-no-margin ui-button" (click)="sendNote()">
            Done
            <ion-icon name="save" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="showTimePrompt" class="custom-modal-background" (click)="clearSelectedStaff()">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 class="ion-no-margin font-semibold">{{creating ? 'Edit' : 'Create'}} clock time</h1>
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down">
        <ion-label position="stacked" class="font-medium">Time</ion-label>
        <div class="date-picker-container">
          <ion-datetime class="drop-down-box" [pickerOptions]="{cssClass: 'time-picker'}" displayFormat="h:mm a" [max]="maxDate" [(ngModel)]="selectedTime" placeholder="Select time"></ion-datetime>
          <ion-icon name="time" color="verydark" slot="end"></ion-icon>
        </div>
      </ion-item>
      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding">
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="timePrompt_cancel()">
            Cancel
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="magenta" class="ion-no-margin ui-button" (click)="editing_done()">
            Done
            <ion-icon name="save" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>