.ion-content-custom {
  --background: var(--custom-ion-content-background);
  --overflow: hidden;
}

.button-container {
  margin-top: 20px;
}

.date-picker {
  max-width: 300px;
}

.date-picker-container {
  width: 100%;
  position: relative;

  ion-icon {
    position: absolute;
    right: 12px;
    top: calc(50% + 1px);
    transform: translateY(-50%);
  }
}

.clock-times-header {
  margin-top: 14px;
  ion-col {
    color: var(--ion-color-verydark);
    background-color: var(--ion-color-medium);
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
    border-right: 1px solid var(--ion-color-light);
  }
  ion-col:last-child {
    border-right: none;
  }
}

.clock-times-row {
  font-size: 15px;

  ion-col {
    font-weight: 500;
    font-size: 13px;
    padding: 7px 8px;
    border-right: 1px solid var(--ion-color-light);
  }
  ion-col:last-child {
    border-right: none;
  }
}

.time-col {
  color: white;
}

.clock-times-row-container-scroll {
  max-height: 50vh;
  overflow-y: auto;
}

.clock-times-row-container {
  // max-height: 50vh;
  // overflow-y: auto;
  .clock-times-row:nth-child(odd) {
    ion-col:first-child {
      background-color: var(--ion-color-light);
    }
  }
  .clock-times-row:nth-child(even) {
    background-color: var(--ion-color-shade);
    ion-col:first-child {
      background-color: var(--ion-color-shade);
    }
  }
}

.selected {
  background-color: var(--ion-color-magenta) !important;
  color: white;
}

.department-picker-col {
  width: 300px !important;
  .input-field {
    margin-top: 0 !important;
  }
  .search-bar {
    .input-field {
      --background: var(--ion-color-light);
      color: var(--ion-color-verydark);
      height: 36px;
    }
  }
}

.list-header-container {
  background: var(--ion-color-medium);
  font-weight: 700;
  font-size: 14px;
  padding: 8px 12px;
  color: var(--ion-color-verydark);
}

.department-role-picker-row {
  .department-role-picker-col {
    max-height: 50vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .list-container {
    font-size: 14px;
    padding: 8px 12px;
    background-color: var(--ion-color-shade);
    border: 1px solid var(--ion-color-medium);
    border-top: none;
  }
  .list-container.selected {
    background-color: var(--ion-color-magenta);
    color: white;
  }
}

.wide-list {
  overflow: auto;
  ion-row {
    width: 150%;
  }
  .clock-times-row-container {
    width: 150%;
    // overflow-x: hidden;
    ion-row {
      width: auto;
    }
  }
}

.sticky-name {
  position: absolute;
  left: -1px;
  right: 0;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
  .clock-times-row-container {
    .clock-times-row {
      background-color: transparent;
      ion-col {
        background-color: var(--ion-color-light);
      }
    }
    .clock-times-row:nth-child(even) {
      ion-col {
        background-color: var(--ion-color-shade);
      }
    }
  }
}

.wide-list-15 {
  ion-row {
    width: 200%;
  }
  .clock-times-row-container {
    width: 200%;
  }
}

.wide-list-20 {
  ion-row {
    width: 350%;
  }
  .clock-times-row-container {
    width: 350%;
  }
}
