// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

/** Ionic CSS Variables **/
:root {
  --primary-font: "Montserrat";

  /** primary **/
  --ion-color-primary: #d3007a;
  --ion-color-primary-rgb: 211, 0, 122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a70061;
  --ion-color-primary-tint: #d3007a;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #00cc00;
  --ion-color-success-rgb: 0, 204, 0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0abe0a;
  --ion-color-success-tint: #17d617;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #d0021b;
  --ion-color-danger-rgb: 208, 2, 27;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b80318;
  --ion-color-danger-tint: #b81729;

  /** dark **/
  --ion-color-dark: #cecece;
  --ion-color-dark-rgb: 226, 228, 226;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #bebebe;
  --ion-color-dark-tint: #c4c3c3;

  /** medium **/
  --ion-color-medium: #e0e0e0;
  --ion-color-medium-rgb: 239, 241, 240;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #eff1f0;
  --ion-color-medium-tint: #eff1f0;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** light **/
  --ion-color-white: #f4f5f8;
  --ion-color-white-rgb: 244, 245, 248;
  --ion-color-white-contrast: var(--ion-color-magenta);
  --ion-color-white-contrast-rgb: var(--ion-color-magenta-rgb);
  --ion-color-white-shade: #d7d8da;
  --ion-color-white-tint: #f5f6f9;

  --ion-color-dark2: #55585a;
  --ion-color-dark2-rgb: 85, 88, 90;
  --ion-color-dark2-contrast: #ffffff;
  --ion-color-dark2-contrast-rgb: 255, 255, 255;
  --ion-color-dark2-shade: #313335;
  --ion-color-dark2-tint: #636769;

  --ion-color-verydark: #222428;
  --ion-color-verydark-rgb: 34, 36, 40;
  --ion-color-verydark-contrast: #ffffff;
  --ion-color-verydark-contrast-rgb: 255, 255, 255;
  --ion-color-verydark-shade: #1e2023;
  --ion-color-verydark-tint: #383a3e;

  --ion-color-shade: #eff1f0;
  --ion-color-shade-rgb: 239, 241, 240;
  --ion-color-shade-contrast: #000000;
  --ion-color-shade-contrast-rgb: 0, 0, 0;
  --ion-color-shade-shade: #e8ebea;
  --ion-color-shade-tint: #ebebeb;

  --ion-color-magenta: #d3007a;
  --ion-color-magenta-rgb: 211, 0, 122;
  --ion-color-magenta-contrast: #ffffff;
  --ion-color-magenta-contrast-rgb: 255, 255, 255;
  --ion-color-magenta-shade: #a70061;
  --ion-color-magenta-tint: #d3007a;

  --ion-color-blue: #0000FF;
  --ion-color-blue-rgb: 0, 0, 255;
  --ion-color-blue-contrast: #FFFFFF;
  --ion-color-blue-contrast-rgb: 255, 255, 255;
  --ion-color-blue-shade: #0000FF;
  --ion-color-blue-tint: #0000FF;

  --custom-ion-content-background: var(--ion-color-medium);
  --custom-ion-content-white-background: white;

  .show-light {
    display: block;
  }
  .show-dark {
    display: none;
  }
}

// @media (prefers-color-scheme: dark) {
/*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {
  --ion-color-primary: #d3007a;
  --ion-color-primary-rgb: 211, 0, 122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a70061;
  --ion-color-primary-tint: #d3007a;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #00cc00;
  --ion-color-success-rgb: 0, 204, 0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0abe0a;
  --ion-color-success-tint: #17d617;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #d0021b;
  --ion-color-danger-rgb: 208, 2, 27;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b80318;
  --ion-color-danger-tint: #b81729;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-color-verydark: #f4f5f8;
  --ion-color-verydark-rgb: 244, 245, 248;
  --ion-color-verydark-contrast: #000000;
  --ion-color-verydark-contrast-rgb: 0, 0, 0;
  --ion-color-verydark-shade: #d7d8da;
  --ion-color-verydark-tint: #f5f6f9;

  --ion-color-shade: #79797a;
  --ion-color-shade-rgb: 121, 121, 122;
  --ion-color-shade-contrast: #000000;
  --ion-color-shade-contrast-rgb: 0, 0, 0;
  --ion-color-shade-shade: #929292;
  --ion-color-shade-tint: #8b8b8b;

  --custom-ion-content-background: #141518;
  --custom-ion-content-white-background: #141518;

  .show-light {
    display: none !important;
  }
  .show-dark {
    display: block !important;
  }
}

body.color-blind-assist {
  --ion-color-primary: #A70061;
  --ion-color-primary-rgb: 167, 0, 97;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #8C0050;
  --ion-color-primary-tint: #A70061;

  --ion-color-magenta: #A70061;
  --ion-color-magenta-rgb: 167, 0, 97;
  --ion-color-magenta-contrast: #ffffff;
  --ion-color-magenta-contrast-rgb: 255, 255, 255;
  --ion-color-magenta-shade: #8C0050;
  --ion-color-magenta-tint: #A70061;
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}
// }
