<ion-content class="ion-content-custom">

  <img class="bg-slash show-light" src="../../../assets/images/mbackground.png" >
  <img class="bg-slash show-dark" src="../../../assets/images/mbackground_dark.png" >

  <div class="custom-modal-wrapper">
    <h1 class="ion-no-margin font-semibold">Please {{isLoginScreen ? 'log in' : 'sign in to configure clocking station'}}</h1>
    <div class="modal-form-container">

      <!-- <div *ngIf="!this.dbHelper.clockConfig.Initialised" class="login-option">
        <h2>Please Select how you log in to Wageloch</h2>
        <ion-radio-group [(ngModel)]="loginOption" mode="md">
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-item color="light" lines="none" class="ion-no-padding">
                <ion-label style="font-size: 15px;">Using an Email Address</ion-label>
                <ion-radio slot="start" value="pureApi" color="magenta" class="ion-no-margin input-radio"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item color="light" lines="none" class="ion-no-padding">
                <ion-label style="font-size: 15px;">Selecting my name from a list</ion-label>
                <ion-radio slot="start" value="legacyApi" color="magenta" class="ion-no-margin input-radio"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </div> -->

      <ion-item *ngIf="this.loginOption !== 'legacyApi' || !this.dbHelper.clockConfig.Initialised" color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
        <ion-label position="stacked" class="font-medium">{{ loginOption === 'pureApi' ? 'Email' : 'Site code'}}</ion-label>
        <ion-input [(ngModel)]="email" autocomplete="email" type="email" class="input-field" [placeholder]="loginOption === 'pureApi' ? 'Enter email address' : 'Enter the supplied site code'"></ion-input>
      </ion-item>
      <ion-item *ngIf="this.loginOption === 'legacyApi' && this.dbHelper.clockConfig.Initialised" color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down" (click)="presentUsernamePicker()">
        <ion-label position="stacked" class="font-medium">Username</ion-label>
        <div class="drop-down-box">{{username}}<ion-icon name="chevron-down" slot="end"></ion-icon></div>
      </ion-item>
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
        <ion-label position="stacked" class="font-medium">{{ loginOption === 'pureApi' || this.dbHelper.clockConfig.Initialised ? 'Password' : 'Install code'}}</ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="Enter password" class="input-field"></ion-input>
      </ion-item>

      <div *ngIf="error" class="form-error font-semibold"><ion-text color="danger">{{error}}</ion-text></div>
    </div>

    <ion-row class="button-container">
      <ion-col class="ion-no-padding">
        <ion-button *ngIf="!isLoginScreen" color="magenta" fill="outline" class="ion-no-margin ui-button" (click)="goTo('info')">
          Clock Station Info
          <ion-icon name="help-circle" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button *ngIf="!isLoginScreen" color="danger" fill="outline" class="ion-no-margin ui-button" (click)="reset()">
          Reset Clock Station
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!disableCancel" class="ion-no-padding" size="auto">
        <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start" (click)="cancel()">
          Cancel
          <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="magenta" class="ion-no-margin ui-button ion-margin-start" (click)="login()">
          {{isLoginScreen ? 'Log in' : 'Configure'}}
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>