h1 {
  margin-bottom: 16px;
}

h2 {
  font-size: 18px;
}

.login-option {
  padding: 12px 0 16px;
}

.button-container {
  margin-top: 50px;
}

.ion-content-custom {
  --background: var(--custom-ion-content-background);
  --overflow: hidden;
}
