<ion-content class="ion-content-custom">

  <img class="bg-slash show-light" src="../../../assets/images/mbackground.png" >
  <img class="bg-slash show-dark" src="../../../assets/images/mbackground_dark.png" >

  <div class="custom-modal-wrapper">
    <h1 class="ion-no-margin font-semibold">Configure Clock Station</h1>
    <div class="modal-form-container">

      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down" (click)="presentSitePicker()">
        <ion-label position="stacked" class="font-medium">Site</ion-label>
        <div class="drop-down-box">{{this.dbHelper.clockConfig.SiteName ? this.dbHelper.clockConfig.SiteName : "Select site"}}<ion-icon name="chevron-down" slot="end"></ion-icon></div>
      </ion-item>
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
        <ion-label position="stacked" class="font-medium">If this is a new installation of app-based clocking, enter new location below</ion-label>
        <ion-input [(ngModel)]="newLocation" class="input-field" placeholder="Enter the new location name" maxlength="50"></ion-input>
      </ion-item>
      
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down" (click)="presentLocationPicker()">
        <!-- <div class="font-medium" style="font-size: 14px; margin-top: 16px;">If this is a re-installation of web based clocking select the previous name from the list</div> -->
        <ion-label position="stacked" class="font-medium">If this is a re-installation of app-based clocking, select previous location below</ion-label>
        <div class="drop-down-box">{{this.dbHelper.clockConfig.LocationName ? this.dbHelper.clockConfig.LocationName : "Select location"}}<ion-icon name="chevron-down" slot="end"></ion-icon></div>
      </ion-item>

      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down" (click)="presentClockMethodPicker()">
        <ion-label position="stacked" class="font-medium">Clock method</ion-label>
        <div class="drop-down-box">{{selectedClockMethod}}<ion-icon name="chevron-down" slot="end"></ion-icon></div>
      </ion-item>

      <ion-item style="margin-top: 8px !important;" color="light" lines="none" class="ion-no-margin ion-no-padding input-item check-box">
        <ion-label class="font-medium">Show surnames first (eg Smith, John)</ion-label>
        <ion-checkbox color="magenta" mode="md" slot="start" [(ngModel)]="this.dbHelper.clockConfig.ShowSurnamefirst"></ion-checkbox>
      </ion-item>

      <ion-item style="margin-top: 0;" color="light" lines="none" class="ion-no-margin ion-no-padding input-item check-box">
        <ion-label class="font-medium">Show last clock time next to name</ion-label>
        <ion-checkbox color="magenta" mode="md" slot="start" [(ngModel)]="this.dbHelper.clockConfig.ShowLastClockTime"></ion-checkbox>
      </ion-item>

      <ion-item style="margin-top: 0;" color="light" lines="none" class="ion-no-margin ion-no-padding input-item check-box">
        <ion-label class="font-medium">Show search bars</ion-label>
        <ion-checkbox color="magenta" mode="md" slot="start" [(ngModel)]="this.dbHelper.clockConfig.ShowEmpSearch"></ion-checkbox>
      </ion-item>

      <ion-item style="margin-top: 0;" color="light" lines="none" class="ion-no-margin ion-no-padding input-item check-box">
        <ion-label class="font-medium">Dark mode</ion-label>
        <ion-checkbox color="magenta" mode="md" slot="start" [(ngModel)]="this.dbHelper.clockConfig.DarkMode" (ionChange)="this.dbHelper.checkDarkMode()"></ion-checkbox>
      </ion-item>

      <ion-item style="margin-top: 0;" color="light" lines="none" class="ion-no-margin ion-no-padding input-item check-box">
        <ion-label class="font-medium">Colour blind assist</ion-label>
        <ion-checkbox color="magenta" mode="md" slot="start" [(ngModel)]="this.dbHelper.clockConfig.ColourBlindAssist" (ionChange)="this.dbHelper.checkDarkMode()"></ion-checkbox>
      </ion-item>

      <div *ngIf="error" class="form-error font-semibold"><ion-text color="danger">{{error}}</ion-text></div>
    </div>

    <ion-row class="button-container">
      <ion-col class="ion-no-padding">
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="cancel()">
          Cancel
          <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="magenta" class="ion-no-margin ui-button" (click)="configure()">
          Save
          <ion-icon name="save" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>