<div *ngIf="!this.dbHelper.staffList" class="full-loading-container">
  <img class="show-light" src="../../../assets/images/Waiting_Rebrand.gif">
  <img class="show-dark" src="../../../assets/images/Waiting_Rebrand_Dark.gif">
</div>

<ion-content class="content-container">
  <div class="home-content-container">
    <ion-row style="padding-top: 8px; flex: none; margin-bottom: -5px;">
      <ion-col class="ion-no-padding ion-align-self-center wageloch-logo" size="auto">
        <img class="wageloch-logo" src="../../../assets/images/wageloch_logo.svg">
      </ion-col>
      <ion-col class="ion-no-padding ion-align-self-center">
        <div class="time-kiosk-label">
          <ion-text color="magenta" class="font-bold">Time Kiosk</ion-text>
        </div>
      </ion-col>
      <ion-col *ngIf="this.dbHelper.clockConfig.ClockOnMethod === 400 || this.dbHelper.clockConfig.ClockOnMethod === 500" class="ion-no-padding ion-align-self-center" size="auto">
        <ion-icon color="verydark" class="header-icons" style="font-size: 24px;" name="camera" (click)="adminCancelledCameraFeed = false; showCameraFeed()"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-padding ion-align-self-center" size="auto">
        <ion-icon color="verydark" class="header-icons" name="settings-sharp" (click)="showSettings($event)"></ion-icon>
      </ion-col>
      <ion-col class="ion-no-padding ion-align-self-center" size="auto">
        <ion-icon color="verydark" class="header-icons" name="help" [routerLink]="[ '/help' ]"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="time-container">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-padding">
          <div class="font-bold time-label">
            {{currentDateAndTime}}
          </div>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="white" fill="outline" class="ion-no-margin ui-button small clock-times-button ion-margin-end" (click)="clockTimes()">
            Clock Times
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button class="ion-no-margin ui-button small whos-here-button" (click)="whosHere()">
            Who's Here
            <ion-icon name="print" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-end">
        <ion-col *ngIf="this.dbHelper.clockConfig.ShowDeptFilter" class="ion-no-padding department-picker-col" size="auto">
          <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down input-standalone" (click)="presentDepartmentPicker()">
            <div class="drop-down-box">{{selectedDepartment}}<ion-icon name="chevron-down" slot="end"></ion-icon>
            </div>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="this.dbHelper.clockConfig.ShowEmpSearch" class="ion-no-padding department-picker-col" [ngClass]="{'ion-padding-start': this.dbHelper.clockConfig.ShowDeptFilter}">
          <ion-item color="magenta" lines="none" class="ion-no-margin ion-no-padding input-item input-standalone search-bar">
            <ion-input [(ngModel)]="searchTerm" clearInput style="border:none;" class="input-field" placeholder="Search name" maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>

    <div class="registration-container">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-no-padding">
          <div class="font-bold registration-label">
            <ion-text color="verydark">REGISTRATION REQUIRED <img class="registration-icon" src="../../../assets/images/question_mark.png"></ion-text>
          </div>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <div class="font-bold registration-label">{{this.dbHelper.isOnline.value ? 'Online' : 'Offline'}}</div>
        </ion-col>
        <ion-col class="ion-no-padding online-indicator" size="auto">
          <ion-icon [color]="this.dbHelper.isOnline.value ? 'success' : 'danger'" name="ellipse"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <div class="warnings-container">
      <div *ngIf="isStorageLow">
        <ion-text color="verydark" class="font-medium">{{storageExceeded ?  'Insufficient storage available.' : 'Storage capacity is running low.'}}
          {{this.dbHelper.pendingLogs.length > 0 ? 'There are ' + this.dbHelper.pendingLogs.length + ' clock times waiting to be sent. Please connect to the internet to send them.' : 'Please increase storage by removing some data on this device.'}}
        </ion-text>
      </div>
      <div *ngIf="isUpdateAvailable">
        <ion-text color="verydark" class="font-medium">A software update is available for this device. Please visit the app store.</ion-text>
      </div>
    </div>

    <div class="staff-list-container">
      <ion-row class="staff-list-row">
        <ion-col *ngIf="clockedOnStaff.length === 0 && clockedOffStaff.length === 0" class="ion-align-self-center ion-text-center">
          <ion-text color="dark" class="font-bold">No staff found</ion-text>
        </ion-col>
        <ion-col id="clocked-on-col-id" *ngIf="clockedOnStaff.length > 0" [ngStyle]="{'margin-right': clockedOffStaff.length > 0 ? '2.5px' : '0'}" class="ion-no-padding clocked-on-col">
          <div class="clocked-on-list-container">Clocked On</div>
          <ion-row class="staff-list">
            <ion-col [size]="clockedOnStaff.length > 10 ? 6 : 12" class="ion-no-padding staff-list-item"
              [ngClass]="{'staff-list-item-2-col': clockedOnStaff.length > 10, 'staff-list-item-1-col': clockedOnStaff.length <= 10}" *ngFor="let staff of clockedOnStaff" (click)="selectStaff(staff)">
              <img [style.opacity]="!isRegistered(staff) ? 1 : 0" class="registration-icon" src="../../../assets/images/question_mark.png">
              <ion-text class="clocked-on-staff-item-text" color="verydark">{{staff.StaffName}}
                {{this.dbHelper.clockConfig.ShowLastClockTime && staff.LastClockTimeDisplay ? ('@ ' + staff.LastClockTimeDisplay) : ''}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="clockedOffStaff.length > 0" [ngStyle]="{'margin-left': clockedOnStaff.length > 0 ? '2.5px' : '0'}" class="ion-no-padding clocked-off-col">
          <div class="clocked-off-list-container">Clocked Off</div>
          <ion-row class="staff-list">
            <ion-col [size]="clockedOffStaff.length > 10 ? 6 : 12" class="ion-no-padding staff-list-item" *ngFor="let staff of clockedOffStaff" (click)="selectStaff(staff)">
              <img [style.opacity]="!isRegistered(staff) ? 1 : 0" class="registration-icon" src="../../../assets/images/question_mark.png">
              <ion-text color="verydark">{{staff.StaffName}} {{this.dbHelper.clockConfig.ShowLastClockTime && staff.LastClockTimeDisplay  ? ('@ ' + staff.LastClockTimeDisplay) : ''}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="selectedStaff && !showDeptRolePrompt && !isClockingWithFace" class="custom-modal-background" (click)="clearSelectedStaff()">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 class="ion-no-margin font-semibold">Clock On/Off</h1>
      <div class="modal-form-container">
        <p>{{selectedStaff.StaffName}}, please enter your {{clockMethod}}</p>
        <ion-item *ngIf="this.dbHelper.Staff_HasPassword(selectedStaff)" color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
          <ion-label position="stacked" class="font-medium">{{clockMethod}}</ion-label>
          <ion-input class="input-field" [(ngModel)]="password" [type]="clockMethod === 'Password' ? 'text' : 'number'" maxlength="50" style="-webkit-text-security:disc;" maxlength="50"></ion-input>
        </ion-item>
        <ion-item *ngIf="!this.dbHelper.Staff_HasPassword(selectedStaff) || changePassword" color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
          <ion-label position="stacked" class="font-medium">New {{clockMethod}}</ion-label>
          <ion-input class="input-field" [(ngModel)]="newPassword" [type]="clockMethod === 'Password' ? 'text' : 'number'" maxlength="50" style="-webkit-text-security:disc;" maxlength="50">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="!this.dbHelper.Staff_HasPassword(selectedStaff) || changePassword" color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
          <ion-label position="stacked" class="font-medium">Confirm {{clockMethod}}</ion-label>
          <ion-input class="input-field" [(ngModel)]="confirmPassword" [type]="clockMethod === 'Password' ? 'text' : 'number'" maxlength="50" style="-webkit-text-security:disc;" maxlength="50">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="this.dbHelper.Staff_HasPassword(selectedStaff)" color="light" lines="none" class="ion-no-margin ion-no-padding input-item check-box">
          <ion-label class="font-medium">Change my {{clockMethod}}</ion-label>
          <ion-checkbox color="magenta" mode="md" slot="start" [(ngModel)]="changePassword"></ion-checkbox>
        </ion-item>
        <div *ngIf="error" class="form-error font-semibold">
          <ion-text color="danger">{{error}}</ion-text>
        </div>
      </div>
      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding">
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="clearSelectedStaff(); checkClockingWithFace(0)">
            Cancel
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="magenta" class="ion-no-margin ui-button" (click)="checkPassword()">
            Done
            <ion-icon name="save" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="showDeptRolePrompt && !showNotesPrompt" class="custom-modal-background" (click)="clearSelectedStaff()">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 class="ion-no-margin font-semibold">{{selectedStaff.StaffName}}</h1>
      <!-- <h1 *ngIf="this.dbHelper.clockConfig.UseDeptForClock && this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-margin font-semibold">Dept and Role Selection</h1>
      <h1 *ngIf="this.dbHelper.clockConfig.UseDeptForClock && !this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-margin font-semibold">Department Selection</h1>
      <h1 *ngIf="!this.dbHelper.clockConfig.UseDeptForClock && this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-margin font-semibold">Role Selection</h1> -->
      <p *ngIf="this.dbHelper.clockConfig.UseDeptForClock && this.dbHelper.clockConfig.UseRoleForClock">Select the department/role you're working in</p>
      <p *ngIf="this.dbHelper.clockConfig.UseDeptForClock && !this.dbHelper.clockConfig.UseRoleForClock">Select the department you're working in</p>
      <p *ngIf="!this.dbHelper.clockConfig.UseDeptForClock && this.dbHelper.clockConfig.UseRoleForClock">Select the role you're working in</p>

      <ion-row class="ion-margin-bottom">
        <ion-col *ngIf="this.dbHelper.clockConfig.ShowEmpSearch && this.dbHelper.clockConfig.UseDeptForClock" class="ion-no-padding ion-margin-end">
          <ion-item lines="none" class="ion-no-margin ion-no-padding input-item input-standalone search-bar">
            <ion-input [(ngModel)]="deptSearchTerm" clearInput class="input-field" placeholder="Search department" maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="this.dbHelper.clockConfig.ShowEmpSearch && this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-padding ion-margin-start">
          <ion-item lines="none" class="ion-no-margin ion-no-padding input-item input-standalone search-bar">
            <ion-input [(ngModel)]="roleSearchTerm" clearInput class="input-field" placeholder="Search role" maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="this.dbHelper.clockConfig.UseDeptForClock" class="ion-no-padding ion-margin-end">
          <div class="list-header-container">Department</div>
        </ion-col>
        <ion-col *ngIf="this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-padding ion-margin-start">
          <div class="list-header-container">Role</div>
        </ion-col>
      </ion-row>
      <ion-row class="department-role-picker-row">
        <ion-col *ngIf="this.dbHelper.clockConfig.UseDeptForClock" class="ion-no-padding ion-margin-end department-role-picker-col">
          <div class="list-container" [ngClass]="{'selected': dept === selectedDeptForClock}" (click)="selectedDeptForClock = selectedDeptForClock === dept ? '' : dept;"
            *ngFor="let dept of departments()">{{dept}}</div>
        </ion-col>
        <ion-col *ngIf="this.dbHelper.clockConfig.UseRoleForClock" class="ion-no-padding ion-margin-start department-role-picker-col">
          <div class="list-container" [ngClass]="{'selected': role === selectedRoleForClock}" (click)="selectedRoleForClock = selectedRoleForClock === role ? '' : role;" *ngFor="let role of roles()">
            {{role}}</div>
        </ion-col>
      </ion-row>
      <div *ngIf="error" class="form-error font-semibold">
        <ion-text color="danger">{{error}}</ion-text>
      </div>
      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding">
          <ion-button *ngIf="this.dbHelper.clockConfig.ShowNotesButtonOnRoleScreen" (click)="this.dbHelper.clockConfig.PromptForNote ? showNotesPrompt = true : sendNote()" [disabled]="noteSent"
            color="magenta" fill="outline" class="ion-no-margin ui-button">
            {{this.dbHelper.clockConfig.NotesButtonText}}
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="closeDeptRolePrompt()">
            Cancel
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="magenta" class="ion-no-margin ui-button" (click)="clockStaff(selectedStaff, selectedDeptForClock, selectedRoleForClock, true)">
            Done
            <ion-icon name="save" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="showNotesPrompt" class="custom-modal-background" (click)="clearSelectedStaff()">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 class="ion-no-margin font-semibold">Note</h1>
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item">
        <ion-textarea [(ngModel)]="note" class="input-field" rows="6"></ion-textarea>
      </ion-item>
      <div *ngIf="error" class="form-error font-semibold">
        <ion-text color="danger">{{error}}</ion-text>
      </div>
      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding">
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="showNotesPrompt = false;">
            Cancel
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="magenta" class="ion-no-margin ui-button" (click)="sendNote()">
            Done
            <ion-icon name="save" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="showCustomStaffList" class="custom-modal-background" (click)="this.showCustomStaffList = false; this.showCameraFeed();">
    <img class="bg-slash show-light" src="../../../assets/images/mbackground.png">
    <img class="bg-slash show-dark" src="../../../assets/images/mbackground_dark.png">
    <div class="custom-modal-wrapper small" (click)="$event.stopPropagation()">
      <h1 class="ion-no-margin font-semibold">Select your name</h1>
      <br>
      <ion-row class="custom-staff-list">
        <ion-col size="12" class="ion-no-padding staff-list-item" *ngFor="let staff of customStaffList; let i = index;" (click)="this.customStaffListSelectedIndex = i;" [ngClass]="{'selected': i === this.customStaffListSelectedIndex}">
          <ion-text class="clocked-on-staff-item-text" color="verydark">{{staff.StaffName}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="button-container ion-padding-top">
        <ion-col class="ion-no-padding">
        </ion-col>
        <ion-col class="ion-no-padding" size="auto">
          <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-end" (click)="this.showCustomStaffList = false; this.showCameraFeed();">
            Cancel
            <ion-icon name="close" slot="end"></ion-icon>
          </ion-button>
          <ion-button [disabled]="this.customStaffListSelectedIndex === -1" color="magenta" class="ion-no-margin ui-button" (click)="selectStaff(this.customStaffList[this.customStaffListSelectedIndex]); this.showCustomStaffList = false;">
            Select
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div [hidden]="hidePersonalisedMessage" #messageModal id="personal-message-modal" class="custom-modal-background">
    <div [ngClass]="{'clocking-in': clockingIn}" class="custom-modal-wrapper" style="width:fit-content;">
      <h1 class="ion-no-margin font-semibold">{{personalisedMessage}}</h1>
    </div>
  </div>

</ion-content>