.content-container {
  --padding-start: 10px;
  --padding-top: 0px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --overflow: hidden;
  --background: var(--custom-ion-content-white-background);
}

.home-content-container {
  max-height: calc(100vh - 10px);
  height: calc(100vh - 10px);
  display: flex;
  flex-flow: column;
}

.drop-down-box {
  border: none;
  height: 36px;
}

.wageloch-logo {
  height: 65px;
}

.time-kiosk-label {
  margin-bottom: 4px;
  font-size: 20px;
}

.header-icons {
  font-size: 22px;
  margin-left: 24px;
}

.clock-times-button {
  color: white;
}

.whos-here-button {
  --background: white;
  color: var(--ion-color-magenta);
}

.time-container {
  background: var(--ion-color-magenta);
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex: none;
  .time-label {
    font-size: 24px;
    color: white;
  }
}

.registration-container {
  padding: 10px 20px;
  background: var(--ion-color-medium);
  flex: none;
  .registration-label {
    font-size: 12px;
  }
  .registration-icon {
    height: 16px;
    margin-left: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .online-indicator {
    font-size: 14px;
    margin-left: 28px;
    position: relative;
    ion-icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}

.warnings-container {
  padding: 10px 20px;
  border-left: 1px solid var(--ion-color-medium);
  border-right: 1px solid var(--ion-color-medium);
  line-height: 25px;
}

.staff-list-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid var(--ion-color-medium);
  border-top: none;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;

  .staff-list-row {
    height: 100%;
  }

  .clocked-on-col {
    height: 100%;
  }
  .clocked-off-col {
    height: 100%;
  }
  .clocked-on-list-container {
    background-color: var(--ion-color-magenta);
    font-weight: 700;
    font-size: 14px;
    padding: 12px 20px;
    color: white;
    margin: -1px;
  }
  .clocked-off-list-container {
    background: var(--ion-color-medium);
    font-weight: 700;
    font-size: 14px;
    padding: 12px 20px;
    color: var(--ion-color-verydark);
    margin: -1px;
  }

  .staff-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100% - 39px);
    margin: -1px;
    align-content: flex-start;
    border-top: 1px solid var(--ion-color-medium);
    border-left: 1px solid var(--ion-color-medium);
    .staff-list-item {
      font-size: 13px;
      font-weight: 600;
      display: flex;
      padding: 12px 5px;
      border-bottom: 1px solid var(--ion-color-medium);
      border-right: 1px solid var(--ion-color-medium);
      .registration-icon {
        height: 16px;
        margin-right: 4px;
        align-self: center;
      }
    }
    .staff-list-item-2-col:nth-child(4n - 1) {
      background: var(--ion-color-medium);
    }
    .staff-list-item-2-col:nth-child(4n) {
      background: var(--ion-color-medium);
    }
    .staff-list-item-1-col:nth-child(even) {
      background: var(--ion-color-medium);
    }
  }
}

.department-picker-col {
  .input-item {
    width: 300px !important;
  }
  .input-field {
    margin-top: 0 !important;
  }
  .search-bar {
    .input-field {
      --background: var(--ion-color-light);
      color: var(--ion-color-verydark);
      height: 36px;
    }
  }
}

.list-header-container {
  background: var(--ion-color-medium);
  font-weight: 700;
  font-size: 14px;
  padding: 8px 12px;
  color: var(--ion-color-verydark);
}

.department-role-picker-row {
  .department-role-picker-col {
    max-height: 50vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .list-container {
    font-size: 14px;
    padding: 8px 12px;
    background-color: var(--ion-color-shade);
    border: 1px solid var(--ion-color-medium);
    border-top: none;
  }
  .list-container.selected {
    background-color: var(--ion-color-magenta);
    color: white;
  }
}

#personal-message-modal {
  .custom-modal-wrapper {
    border: 2px solid var(--ion-color-danger);
  }
  .custom-modal-wrapper.clocking-in {
    border: 2px solid var(--ion-color-success);
  }
}

.custom-staff-list {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: 50vh;
  margin: -1px;
  align-content: flex-start;
  border-top: 1px solid var(--ion-color-medium);
  border-left: 1px solid var(--ion-color-medium);
  border-bottom: 1px solid var(--ion-color-medium);
  .staff-list-item {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    padding: 12px;
    background-color: var(--ion-color-shade);
    border-bottom: 1px solid var(--ion-color-medium);
    border-right: 1px solid var(--ion-color-medium);
  }
  .staff-list-item:last-child {
    border-bottom: none;
  }
  .selected {
    background-color: var(--ion-color-magenta);
    .clocked-on-staff-item-text {
      color: white !important;
    }
  }
}
