/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$customColors: ("magenta", "dark2", "verydark", "shade", "blue", "white");
@each $color in $customColors {
  .ion-color-#{$color} {
    --ion-color-base: var(--ion-color-#{$color}) !important;
    --ion-color-base-rgb: var(--ion-color-#{$color}-rgb) !important;
    --ion-color-contrast: var(--ion-color-#{$color}-contrast) !important;
    --ion-color-contrast-rgb: var(
      --ion-color-#{$color}-contrast-rgb
    ) !important;
    --ion-color-shade: var(--ion-color-#{$color}-shade) !important;
    --ion-color-tint: var(--ion-color-#{$color}-tint) !important;
  }
}

.primary-font {
  font-family: var(--primary-font);
}

* {
  font-family: var(--primary-font) !important;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

// alert view styles
.custom-alert {
  .alert-wrapper {
    background: var(--ion-color-light);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 11px -5px rgba(0, 0, 0, 0.75);
    max-width: 400px;
    width: 90%;

    .alert-message {
      font-size: 0.95rem;
      max-height: 90%;
    }

    .alert-button-group {
      .alert-button:nth-child(2) {
        border-radius: 5px;
        border: none;
        background-color: var(--ion-color-magenta);
        color: white;
        margin-left: 5px;
        min-width: 40%;
        height: 36px;
      }

      .alert-button:nth-child(1) {
        border-radius: 5px;
        border: 1px solid var(--ion-color-dark);
        color: var(--ion-color-light-contrast);
        margin-right: 5px;
        min-width: 40%;
        height: 36px;
      }

      .alert-button:only-child {
        margin-left: 0px !important;
        border-radius: 5px;
        border: none;
        background-color: var(--ion-color-magenta);
        color: white;
        min-width: 40%;
        height: 36px;
      }
    }
  }
}

.bg-slash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.bg-red {
  background-color: var(--ion-color-danger);
}

.bg-blue {
  background-color: var(--ion-color-blue) !important;
}

.bg-green {
  background-color: forestgreen;
}

// Modal styles
.custom-modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}
.custom-modal-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--ion-color-light);
  border-radius: 30px;
  border: 1px solid var(--ion-color-medium);
  padding: 40px;
  max-width: 80%;
  max-height: 95%;
  overflow: auto;
  transition: background-color 200ms linear;
  .modal-form-container {
    display: block;
    max-width: 80%;
    margin: auto;
  }
}
.form-error {
  margin-top: 16px;
  font-size: 14px;
}

.custom-modal-wrapper.small {
  max-width: 60%;
}

.custom-modal-wrapper.wide {
  max-width: 90%;
}

.loading-modal {
  background: rgba(0, 0, 0, 0.5);
  .modal-wrapper {
    background: transparent;
  }
}

.full-loading-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.25);
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 128px;
  }
}

.settings-popover {
  .popover-arrow::after {
    background: var(--ion-color-light) !important;
  }
  .popover-content {
    width: 230px;
  }
}

// Picker styles
.custom-picker {
  --background: var(--ion-color-light);
  --background-rgb: var(--ion-color-light-rgb);
}

// Text field styles
.input-item {
  margin-top: 8px;
  --inner-padding-end: 0;
  .input-field {
    border: 1px solid var(--ion-color-medium);
    margin-top: 4px;
    border-radius: 5px;
    --padding-start: 16px !important;
    transition: border 300ms ease-in-out;
  }
  ion-label {
    white-space: normal !important;
  }
}

.input-item.item-has-focus {
  .input-field {
    border-color: var(--ion-color-magenta);
  }
}

// Checkbox styles
.check-box {
  // height: 32px;
  ion-label {
    margin: 8px 0;
    font-size: 14px !important;
  }
  ion-checkbox {
    --background: transparent;
    --border-width: 1px;
  }
}

// Drop down styles
.drop-down {
  .drop-down-box {
    border: 1px solid var(--ion-color-medium);
    margin-top: 4px;
    border-radius: 5px;
    padding: 8px 10px 8px 16px;
    width: 100%;
    position: relative;
    ion-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.input-standalone {
  --min-height: none;
  --inner-padding-end: 0px;
  --background: transparent;
  border-radius: 5px;
  .drop-down-box {
    margin-top: 0;
  }
}

// Radio button styles
.input-radio {
  margin-right: 16px;
  --border-width: 1px;
}

// Button styles
.ui-button {
  height: 36px;
  font-size: 14px;
  --border-radius: 5px;
}

.ui-button.small {
  font-size: 12px;
  height: 30px;
}

.time-picker {
  .picker-opts {
    max-width: 40px !important;
  }
}

.wide-picker {
  --min-width: 70%;
}
