<ion-content class="ion-content-custom">

  <img class="bg-slash show-light" src="../../../assets/images/mbackground.png" >
  <img class="bg-slash show-dark" src="../../../assets/images/mbackground_dark.png" >

  <div class="custom-modal-wrapper">
    <h1 class="ion-no-margin font-semibold">Unregister Staff</h1>
    <div class="modal-form-container">
      <ion-item color="light" lines="none" class="ion-no-margin ion-no-padding input-item drop-down" (click)="presentStaffPicker()">
        <ion-label position="stacked" class="font-medium">Employee</ion-label>
        <div class="drop-down-box">{{selectedStaff}}<ion-icon name="chevron-down" slot="end"></ion-icon></div>
      </ion-item>

      <div *ngIf="error" class="form-error font-semibold"><ion-text color="danger">{{error}}</ion-text></div>
    </div>

    <ion-row class="button-container">
      <ion-col class="ion-no-padding">
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="danger" fill="outline" class="ion-no-margin ui-button ion-margin-start ion-margin-end" (click)="cancel()">
          Cancel
          <ion-icon name="close" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="ion-no-padding" size="auto">
        <ion-button color="magenta" class="ion-no-margin ui-button" (click)="reset()">
          Reset
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>