<ion-list lines="none">
  <ion-item color="light" (click)="goTo('configure')">
    <ion-label class="font-semibold option-label">Configuration</ion-label>
  </ion-item>
  <ion-item color="light" (click)="goTo('delete-password')">
    <ion-label class="font-semibold option-label">Unregister Staff</ion-label>
  </ion-item>
  <ion-item color="light" (click)="goTo('info')">
    <ion-label class="font-semibold option-label">Clock Station Information</ion-label>
  </ion-item>
  <!-- <ion-item color="light">
    <ion-label class="font-semibold option-label">Refresh Software</ion-label>
  </ion-item> -->
</ion-list>